* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(218, 23%, 16%);
}

main {
    position: relative;
    display: flex;
    padding: 2rem 1.5rem;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
    border-radius: 0.75rem;
    align-items: center;
    gap:2rem;
    background-color:  hsl(217, 19%, 24%);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}


main p:nth-of-type(1) {
  
    font-weight: 300;
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

main p:nth-of-type(2) {
    font-weight: 600;
    font-size: 1.25rem;
    font-family: 'Manrope', sans-serif;
    color: white;
}

main div{
    width:100%;
    margin-bottom: 2rem;
}

main div img{
    width: 100%;
}

main button {
    bottom:-15px;
    position: absolute;
    border: none;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    cursor: pointer;
}

main button:focus{
    outline: none;
}

main button:hover{
    box-shadow: 0px 0px 5px 5px hsla(150, 100%, 66%, 0.559);
}

.attribution{
    position: absolute;
    bottom: 0;
}

@media screen and (max-width:480px) {
    .attribution{
        display: none;
    }
}